body {
    font-family: Arial, sans-serif;
    background-color: #5f5555;
    margin: 0;
    padding: 0;
}

.container {
    min-width: 500px;
    max-width: 600px;
    margin: 50px 12.5% auto auto;
    padding: 20px;
    background: white;
    
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: right;
}
.container2 {
    min-width: 500px;
    max-width: 600px;
    margin: 50px auto auto 12.5%;
    padding: 20px;
    background: white;
    border-radius: 5px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: left;
}

#incomeexpense{
    max-width: 100px;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: left;
    margin: 20% auto auto 5%;
    text-align: center;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #009dff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0dd9f0;
}

#expense-list {
    list-style: none;
    padding: 0;
}

#income-list {
    list-style: none;
    padding: 0;
}

#income-list li {
    padding: 10px;
    background: #f9f9f9;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#expense-list li {
    padding: 10px;
    background: #f9f9f9;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#income-summary {
    margin-bottom: 20px;
}
#expense-summary {
    margin-bottom: 20px;
}